* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
    scroll-behavior: smooth;
}

.navbar{
    background: #131313;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50 px;
}

#navbar__logo{
    background-color: #ff1877;
    /* background-image: linear-gradient(to right,#aa4b6b, #6b6b83, #3b8d99); */
    background-image: linear-gradient(to right, #7f7fd5, #86a8e7, #91eae4);
    background-size: 100%;
    
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
}

.navbar__menu{
    display: flex;
    align-items: center;
    list-style: none;   
}

.navbar__item {
    height: 80px;

}

.navbar__links {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    text-decoration: none;
    height: 100%;
    transition: all 0.3s ease;
}

.navbar__links:hover{
    color: #54d7de;
    /* text-shadow: 0 0 20px #fff, 0 0 30px #fff; */
    font-size: 1.25rem;
    transition: all 0.3s ease;
}

@media screen and (max-width: 960px) {
    .navbar__container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 1;
        transition: all 0.5 ease;
        z-index: -1;
    }

    .navbar__menu.active{
        background: #131313;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 40vh;
        font-size: 1.6rem;
    }

    #navbar__logo {
        padding-left: 25px;
    }

    .navbar__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff
    }

    .navbar__item {
        width: 100%
    }

    .navbar__links {
        text-align: center;
        padding: 1rem;
        width: 100%;
        display: table;
    }

    #mobile-menu{
        position: absolute;
        top: 10%;
        right: 5%;
        transform: translate(5%,20%);
    }

    .navbar__toggle .bar{
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }
    
    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}


/* intro page styling */
.intro{
    background: linear-gradient(to right, black, #161616);
    height: 700px;
    padding: 200px 0;
    color: white;
}

.intro__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
}

.scroll__icon{
    position:absolute;
    bottom: 0;
}

.scroll-icon{
    transition: 0.3s all ease;
}

.scroll-icon:hover {
    height: 60px;
    width: 60px;
    transition: 0.3s all ease;
}

.intro__heading{
    font-size: 6em;
    overflow: hidden;
}

.cursor__blink:last-of-type{
    border-right: 4px solid orange;
    animation: blink-caret .75s step-end infinite;
}
@keyframes blink-caret {
    from, to{border-color: transparent} 50% {border-color: #54d7de;}
}
.intro__description{
    font-size: 1em;
    color:#54d7de;
}

.about{

    background: black;
    color: white;
}

.about__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
}

.about__heading{
    font-family: "Quicksand", sans-serif;

    padding: 30px;
    font-size: 3em;
    font-weight: 4;
}

.about__description{
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    padding: 30px;
    max-width: 800px;

}

.gradient__border{
    padding:10px;
    border-radius: 50%;
    background: linear-gradient(to right, #7f7fd5, #86a8e7, #91eae4);;
}

.profile-picture{
    object-fit: cover;
    border-radius: 50%;
}


.skills{
    background: black;
    color: white;
}

.skills__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
}

.skills__heading{
    font-family: "Quicksand", sans-serif;

    padding: 30px;
    font-size: 3em;
    font-weight: 4;
}

.progress{
    overflow: hidden;
    height: 3rem;
    width: 80vw;
}

.links{
    background: black;
    color: white;
    height: 400px;
}

.links__heading{
    font-family: "Quicksand",sans-serif;
    padding: 30px;
    font-size: 3em;
    font-weight: 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
}

.links__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: auto;
    max-width: 800px;
}

.icons{
    color:#54d7de;
}